.application-page .header-container {
    background: var(--var-back-blue);
}

.application-page .footer {
    background: var(--var-back-blue);
}

.application-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--var-menu);
    .header__title {
        margin-left: 100px;
        padding: 3%;
        color: black;
        letter-spacing: 0.3px;
    }
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    height: 85vh;
    position: relative;
}

.header-menu {
    width: 20%;
    height: 100%;
    margin-top: 2%;
    margin-left: 20px;
}

.header-in-menu {
    overflow: hidden;
    height: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    transition: all 1s ease;
}

.header-menu-button-cont {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.header-menu-button {
    position: relative;
    width: 10px;
    height: 20px;
    background: url(assets/caret-up-solid.svg) no-repeat;
    transform: rotate(90deg);
    transition: all 1s ease;
}

.in-menu-list {
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 20px;
    top: 20px;
    z-index: 500;
    transition: all 0.5s ease;
}

.show {
    position: absolute;
    top: -25px;
    z-index: -5;
    transition: all 0.5s ease;
}

.show-menu {
    height: 120px;
}

.show-button {
    transform: rotate(180deg);
    height: 15px;
}

.menu-item {
    list-style: none;
    transition: all 0.5s ease;
}

.task-bord {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-top: 2%;
    background: white;
    border-radius: 10px;
}

.header-task-bord {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px #8080803d solid;
}

.button-task-bord {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 10px 0px;
}

.button-task {
    margin-right: 4%;
    border: 1px #80808030 solid;
    cursor: pointer;
    background: #80808000;
}

.task-add-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.task-add-input {
    width: 90%;
    margin-right: 4%;
    margin-bottom: 10px;
}

.task-add-button,
.task-note-button-yes,
.task-note-button-no {
    background-color: #2e8ceb;
    cursor: default;
    padding: 0 14px;
    float: right;
    border: none;
    text-shadow: 0 1px 0 rgb(0 0 0 / 8%);
    box-shadow: none;
    margin: 0 8px 0 0;
    line-height: .875rem;
    outline: none;
    border-radius: 3px;
    height: 32px;
    position: relative;
    text-align: center;
    min-width: 70px;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;
    opacity: .4;
}

.task-note-button-no {
    background-color: #fbfbfa;
    color: #444;
    border: 1px solid #c7cacd;
    opacity: 1;
}

.task-add-button-active {
    cursor: pointer;
    opacity: 1;
}

.task-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px #8080803d solid;
}

.task-button-done-delite {
    display: flex;
    gap: 5px;
}

.button-task-done,
.button-task-delite {
    width: 30px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border-color: #d0d3d6;
    border: 1px solid #d0d3d6;
    border-radius: 3px;
    color: black;
    opacity: 0.5;
}

.button-task-done:hover,
.button-task-delite:hover {
    opacity: 1;
}

.button-task-done {
    background: url(assets/check.svg) no-repeat content-box;
}

.button-task-delite {
    background: url(assets/delite.svg) no-repeat content-box;
}

.task-button-select {
    display: flex;
    gap: 5px;
}

.task-select {
    height: 20px;
    font-size: 10px;
    cursor: pointer;
    outline: none;
    border-color: #d0d3d6;
    border: 1px solid #d0d3d6;
    border-radius: 3px;
    color: black;
    opacity: 0.5;
}

.task-select:hover {
    opacity: 1;
}

.task-bord-body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px rgba(128, 128, 128, 0.2392156863) solid;
}

.task-checkbox-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}

.task-checkbox-container:hover {
    background: #fffac0;
}

.task-checkbox-container-active {
    background: #fffac0;
}

.task-priority-container {
    background-color: var(--var-priority-none);
    background-attachment: scroll;
    width: 3px;
    min-width: 3px;
    height: 100%;
    border-radius: 1px;
    vertical-align: top;
}

.task-checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
}

.task-checkbox-text {
    padding-left: 40px;
    font-size: 1rem;
    color: #444;
    cursor: pointer;
    position: relative;
}

// .task-checkbox-text:hover+.task-checkbox-container {
//     background: #fffac0;
// }
.task-checkbox-text:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 10000;
    transition: background .1s linear, border .1s linear;
}

.task-checkbox-text:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: url(https://htmlbase.ru/storage/app/media/checkbox/check.svg) no-repeat;
    background-size: 12px 12px;
    opacity: 0;
    position: absolute;
    top: 3px;
    left: 18px;
    z-index: 20000;
    transition: opacity .1s linear;
}

.task-checkbox:checked+.task-checkbox-text:before {
    background-color: var(--var-menu);
    border-color: var(--var-back-aqua);
}

.task-checkbox:checked+.task-checkbox-text:after {
    opacity: 1;
}

.info-bord {
    width: 40%;
    height: 100%;
    margin-top: 2%;
    background: var(--var-info);
    border-radius: 10px;
    position: relative;
}

.task-title {
    margin: 3%;
}

.task-title-list {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.task-title-container {
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    background: var(--var-menu);
}

.task-title-do {
    font-size: 22px;
    color: #0060bf;
}

.task-count-do {
    font-size: 14px;
}

.view-task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: -1.5%;
    left: 0px;
    box-shadow: -2px 0 0 #d9d9d9;
    transition: all 1s ease;
}

.hover-task-container {
    position: absolute;
    left: 1000px;
}

.view-task-container-close {
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 95%;
    padding: 5px;
    flex-direction: row;
    color: gray;
    font-size: .875rem;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-task-title {
    height: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px rgba(128, 128, 128, 0.2392156863) solid;
}

.view-task-time {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #999;
    min-width: 62px;
    height: 17px;
    border: 1px solid transparent;
    padding: 1px 5px 15px 42px;
    vertical-align: top;
    border-bottom: 0.5px rgba(128, 128, 128, 0.2392156863) solid;
}

.task-note-title {
    clear: left;
    padding: 17px 0 2px 17px;
    border-bottom: 0.5px rgba(128, 128, 128, 0.2392156863) solid;
}

.task-note-input-container {
    border-bottom: 0.5px rgba(128, 128, 128, 0.2392156863) solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.task-note-input-img {
    width: 33px;
    height: 33px;
    background-image: url('/src/assets/note.png');
}

.task-note-input,
.task-add-input {
    border-color: #d0d3d6;
    min-height: 19px;
    padding: 5px 6px 6px;
    cursor: text;
    word-wrap: break-word;
    border: 1px solid #d0d3d6;
    border-radius: 3px;
    outline: none;
}

.task-note-button-container {
    padding: 10px;
}

.task-done {
    color: red;
    text-decoration: line-through;
}