.application-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--var-menu);
    .header__title {
        margin-left: 100px;
        padding: 3%;
        color: black;
        letter-spacing: 0.3px;
    }
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.header-menu {
    width: 20%;
    height: 85vh;
    margin: 10px;
}

.header-in-menu {
    cursor: pointer;
}

.menu-item {
    list-style: none;
}

.task-bord {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 85vh;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

.header-task-bord {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px #8080803d solid;
}

.button-task-bord {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 10px 0px;
}

.button-task {
    margin-right: 4%;
    border: 1px #80808030 solid;
    cursor: pointer;
    background: #80808000;
}

.task-add-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.task-add-input {
    width: 90%;
    margin-right: 4%;
    margin-bottom: 10px;
}

.task-add-button {
    margin-right: 4%;
}

.info-bord {
    width: 40%;
    height: 85vh;
    margin: 10px;
    background: var(--var-info);
    border-radius: 10px;
}

.task-title {
    margin: 3%;
}

.task-title-list {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.task-title-container {
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    background: var(--var-menu);
}

.task-title-do {
    font-size: 22px;
    color: #0060bf;
}

.task-count-do {
    font-size: 14px;
}