:root {
    --var-back-blue: #0060BF;
    --var-back-green: #5BB84D;
    --var-back-violet: #6A4CA6;
    --var-back-aqua: #3292F2;
    --var-back-card: red;
    --var-links: #330066;
    --var-white: #eee;
    --var-black: #000;
    --var-menu: #d7e7f5;
    --var-info: #e4eef8;
    --var-font-big: 1.3rem;
    --var-font-middle: 1.2rem;
    --var-font-small: 0.9rem;
}
