:root {
    --var-back-blue: #4169E1;
    --var-back-green: #32CD32;
    --var-back-violet: #8A2BE2;
    --var-back-aqua: #1E90FF;
    --var-back-card: red;
    --var-links: #330066;
    --var-white: #eee;
    --var-black: #000;
    --var-menu: #d7e7f5;
    --var-info: #e4eef8;
    --var-font-big: 1.3rem;
    --var-font-middle: 1.2rem;
    --var-font-small: 0.9rem;
}