@import "styles/var";
@import "styles/start";
@import "styles/header";

body {
  background: var(--var-back-blue);
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.block {
  display: block;
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: 1%;
}


